.green-text {
  color: #5D8622;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.column {
  flex: 1;
  padding: 15px;
  box-sizing: border-box;
  min-width: 300px; /* Minimum width for columns to ensure they don't get too narrow */
}

@media (max-width: 768px) {
  .column {
    flex: 100%;
  }
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: #5D8622;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  border-color:#2b2557;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #425725;
}
h1 {
  color: #5D8622;
}


/* Define custom styling for the styled-link class */
.styled-link {
  color:  #5D8622; /* Your desired link color */
  text-decoration: none; /* Optional: remove underline */
}

/* Change the color of the link on hover */
.styled-link:hover {
  color: #8bca33; /* Your desired hover color */
  text-decoration: underline; /* Optional: underline on hover */
}

/* Change the color of the link on active state */
.styled-link:active {
  color: #263315; /* Your desired active color */
}