.red-text {
  color: red;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  align-items: center;
}

.column {
  flex: 1;
  padding: 10px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 300px; /* Minimum width for columns to ensure they don't get too narrow */
  align-items: center; /* Vertical alignment */
  
}

@media (max-width: 768px) {
  .column {
    flex: 100%;
  }
}
.container {
  display: flex;
  align-items: center;
  
}

