
{{ partial "form_styles.html" }}
<div id="form-container">
    <label for="text1">Hint found here: </label>
    <label for="text1">Answer</label>
    <input type="text" id="text1" name="text1">
    <br>
    <button id="validateButton">Submit</button>
</div>
<br>

<div id="result" style="display:none;">
    <p>Congratulations! The combination is: <span id="special-code"></span></p>
    <p>Please reset the combination lock for the next team of Explorer's</p>
</div>

<script>
    document.getElementById('validateButton').addEventListener('click', function(event) {
        event.preventDefault();  // Stop the form from submitting normally
        
        var inputText = document.getElementById('text1').value.trim().toUpperCase();  // Normalize input
        
        // Check for correct answers
        if (inputText === "B") {
            // Display the success message and code
            document.getElementById('result').style.display = 'block';
            document.getElementById('special-code').textContent = '392';  // Set the code
        } else {
            // Notify user of incorrect input
            alert('Incorrect. Please try again.');
        }
    });  
</script>