

    <img src="../images/explorer.png" alt="Explorer Home" usemap="#image-map">

    <map name="image-map">
        <!-- Define a rectangular hotspot -->
        <area target="_blank" alt="Rectangle Link1" title="quest-1" href="../explorer-1" coords="102,350,190,448" shape="rect">
        <area target="_blank" alt="Rectangle Link2" title="quest-2" href="../explorer-2" coords="189,350,289,448" shape="rect">
        <area target="_blank" alt="Rectangle Link3" title="quest-3" href="../explorer-3" coords="287,350,380,448" shape="rect">
        <area target="_blank" alt="Rectangle Link4" title="quest-4" href="../explorer-4" coords="381,350,471,448" shape="rect">
        <area target="_blank" alt="Rectangle Link5" title="quest-5" href="../explorer-5" coords="472,350,559,448" shape="rect">
        
        
    </map>
