<!DOCTYPE html>
<html>
<head>
    <title>Image Map Example</title>
</head>
<body>
    <img src="../images/fixed-odyssey.png" alt="Sample Image with Hotspots" usemap="#image-map">

    <map name="image-map">
        <!-- Define a rectangular hotspot -->
        <area target="_blank" alt="Rectangle Link" title="Rectangle Link1" href="../explorer-1" coords="169,132,439,354" shape="rect">
        <area target="_blank" alt="Rectangle Link2" title="Rectangle Link2" href="../explorer-2" coords="161,360,261,436" shape="rect">
        
    </map>
</body>
</html>
